.block.horizontal-padding-25
  .block__menu
    会員登録完了
.block
  .block__text.horizontal-padding-25
    ありがとうございます。
    %br
    会員登録が完了しました。
    = link_to root_path, class: "submit-button" do
      .block__main
        .button.back-red.font-white
          メルカリをはじめる
    = image_tag 'side_bar_banner.jpg'
