img {
  max-width: 100%;
}

.back-none {
  background-color: transparent !important;
}

.back-red {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}

.back-gray {
  background-color: gray !important;
  color: white !important;
  font-weight: bold !important;
}

.font-white {
  color: white !important;
}

.font-red {
  color: red !important;
}

.horizontal-padding-5 {
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.horizontal-padding-10 {
  padding-right: 10% !important;
  padding-left: 10% !important;
}

.horizontal-padding-15 {
  padding-right: 15% !important;
  padding-left: 15% !important;
}

.horizontal-padding-20 {
  padding-right: 20% !important;
  padding-left: 20% !important;
}

.horizontal-padding-25 {
  padding-right: 25% !important;
  padding-left: 25% !important;
}
