.flash-red {
  color: red;
  font-size: 0.8rem;
}

.flash {
  color: white;
  text-align: center;

  &__alert {
    background-color: red;
  }

  &__notice {
    background-color: blue;
  }
}

.flash__recaptcha_error {
  background-color: red;
}
