//////item#indexのピックアップアイテム
.pickups-header {
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 1rem;

  &__category-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--category-name {
      background-color: rgb(239, 239, 239);
      font-size: 1rem;
      font-weight: bold;
      border-radius: 1rem;
      padding: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.pickups {
  padding: 2rem 0;
  text-align: center;

  .pickup {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;

    &__name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      display: inline-block;
      float: left;
    }

    &__display-all {
      margin-top: 1rem;
      text-align: right;
      color: #0099e8;
      float: right;
    }

    &__items {
      width: 100%;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 25%;
        height: 100%;
        margin-right: 4rem;
      }
    }

  }
}

//// ピックアップアイテムのアイテムたち

.item {
  width: 100%;
  height: 25rem;
  background-color: white;
  position: relative;

  .item-top {
    width: 100%;
    height: 66%;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    &__price {
      color: white;
      background-color: black;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 0 14px 14px 0;
      opacity: 0.5;
      position: absolute;
      left: 0;
      bottom: 1rem;
    }
  }

  .item-bottom {
    padding: 0.5rem;
    width: 100%;
    height: 33%;

    &__name {
      width: 100%;
      height: 70%;
      overflow: hidden;
      white-space: normal;
      word-break: break-all;
    }

    &-price-good {
      height: 30%;

      &__price {
        float: left;
      }

      &__good {
        float: right;
      }
    }
  }
}

//// 購入画面の上部

.item-purchase-confirmation {
  height: 15rem;

  &__image-and-name {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      margin-right: 1rem;
    }

    &--name {
      font-weight: bold;
    }
  }

  &__price {
    display: flex;
    justify-content: center;

    &--yen {
      font-weight: bold;
      margin-right: 1rem;
    }

    &--fee {}
  }

}

#amount {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2rem;
}

#card-data {
  padding: 2rem;
}

/// 商品詳細ページ

.item-show {
  background-color: white;
  position: relative;

  &__images-data {
    display: flex;
    justify-content: space-between;

    .item-images {
      width: 50%;
      height: 100%;
      background-color: #fafafa;
      padding: 0 2rem;

      img {
        width: 100%;
        height: 100%;
      }

      &__main {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-images {
          position: relative;

          img {
            width: 100%;
            max-height: 100%;
          }
        }

        img {
          width: 100%;
          height: 30rem;
        }
      }

      &__mini-images {
        width: 100%;
        height: 5rem;
        overflow: scroll;

        img {
          width: 20%;
          height: 5rem;
          opacity: 0.5;
        }
      }
    }

    .item-data {
      font-size: 1.2rem;
      vertical-align: top;
      border: solid 1px gray;
      border-spacing: 0;

      &__row {
        vertical-align: middle;

        th {
          border: none;
          background-color: #fafafa;
        }

        &--title {
          width: 12rem;
          padding: 1rem;
        }

        &--value {
          padding: 0 1rem;
        }
      }
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &--left {
      font-size: 3rem;
      font-weight: bold;
    }

    &--middle {
      font-size: 1rem;
    }

    &--right {
      font-size: 1.6rem;
    }
  }
}


///カテゴリーのアイテム一覧、検索ページのアイテム一覧

.items-wrapper {
  margin: 2rem;

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }

  &__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    a {
      width: 20%;
      margin-right: 4rem;
    }
  }

  .pagination {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    span {
      margin: 0 0.5rem;
    }
  }

}


/////売り切れマークここから/////
.sold-out {
  position: relative;

  &__text {
    color: white;
    font-weight: bold;
    transform: rotate(-45deg);
    position: absolute;
    top: 1.5rem;
    left: 0rem;
    z-index: 2;
  }
}

.sold-out:after {
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 8rem 8rem 0 0;
  border-color: red transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/////売り切れマークここまで/////
