= link_to "", data:{turbolinks: false}  do
  .item
    = render partial: 'shared/sold_out'
    .item-top
      = image_tag "", class: "item-top__image"
      .item-top__price
        ¥1000
    .item-bottom
      .item-bottom__name
        商品名hoge
      .item-bottom-price-good
        .item-bottom-price-good__price
        = icon "fas", "heart", class:"item-bottom-price-good__good"
