.parent-categories.horizontal-padding-25
  .parent-categories__title
    カテゴリー一覧
  -# 大カテゴリをeachで回す
  - ['hoge'].each do |category|
    %span.parent-categories__category
      = link_to "" do
        大カテゴリ名
-# 大カテゴリをeachで回す
- ['hoge'].each do |parent_category|
  .categories.horizontal-padding-25
    .parent-category
      = link_to "" do
        大カテゴリ名
    -# 中カテゴリをeachで回す
    - ['hoge'].each do |child_category|
      .child-category
        中カテゴリ名
        .child-category__grand-child-categories
          = link_to "", class: "child-category__grand-child-categories--category" do
            すべて
          -# 小カテゴリをeachで回す
          - ['hoge'].each do |grandchild_category|
            = link_to "小カテゴリ名", "", class: "child-category__grand-child-categories--category"
